<div class="row">
    <div class="col-6">
        <div class="container mt-5  mx-5">
            <form>
                <fieldset class="mb-3 row">
                    <legend class="col-form-legend col-sm-1-12">Full Name</legend>
                    <div class="col-sm-1-12">
                        <input type="text" class="form-control" required name="inputName" id="inputName" placeholder="Enter Your Name">
                    </div>
                </fieldset>
                <fieldset class="mb-3 row">
                    <legend class="col-form-legend col-sm-1-12">Email</legend>
                    <div class="col-sm-1-12">
                        <input type="email" class="form-control" required name="inputName" id="inputName" placeholder="Enter Your Email">
                    </div>
                </fieldset>
                <fieldset class="mb-3 row">
                    <legend class="col-form-legend col-sm-1-12">Message</legend>
           
                         <textarea class="form-control" required name="" id="" placeholder="Enter The Message" rows="3"></textarea>
        
                </fieldset>
                <div class="mb-3 row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
