<div class="contain">
  <br>
  <form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="col-md-6"
    style="margin: auto;max-width: 500px;border: 1px solid royalblue;">
    <h3 class="text text-info " style="text-align: center;">I-Tech</h3>

    <div class="mb-3">
      <label for="name" class="form-label"><i class="bi bi-emoji-smile-fill"></i>FirstName:</label>
      <input type="text" formControlName="firstName"
        [class.is-invalid]="loginform.controls['firstName'].invalid && loginform.controls['firstName'].dirty"
        [class.is-valid]="loginform.controls['firstName'].valid" class="form-control" name="" id="name"
        aria-describedby="emailHelpId" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">uniqe and more than 4 chars</small>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label"><i class="bi bi-emoji-smile-fill"></i>LastName:</label>
      <input type="text" formControlName="lastName"
        [class.is-invalid]="loginform.controls['lastName'].invalid && loginform.controls['lastName'].dirty"
        [class.is-valid]="loginform.controls['lastName'].valid" class="form-control" name="" id="name"
        aria-describedby="emailHelpId" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">more than 4 chars</small>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label"><i class="bi bi-person-workspace"></i>UserName:</label>
      <input type="text" formControlName="userName"
        [class.is-invalid]="loginform.controls['userName'].invalid && loginform.controls['userName'].dirty"
        [class.is-valid]="loginform.controls['userName'].valid" class="form-control" name="" id="name"
        aria-describedby="emailHelpId" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">more than 4 chars</small>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i>Email:</label>
      <input type="email" formControlName="email"
        [class.is-invalid]="loginform.controls['email'].invalid && loginform.controls['email'].dirty"
        [class.is-valid]="loginform.controls['email'].valid" class="form-control" name="" id=""
        aria-describedby="emailHelpId" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">uniqe:not used before</small>
    </div>

    <div class="mb-3">
      <label for="country" class="form-label"><i class="fas fa-globe-americas"></i>Country</label>
      <input type="text" formControlName="country"
        [class.is-invalid]="loginform.controls['country'].invalid && loginform.controls['country'].dirty"
        [class.is-valid]="loginform.controls['country'].valid" class="form-control" name="" id="name"
        aria-describedby="emailHelpId" placeholder="">
      <small id="emailHelpId" class="form-text text-muted">more than 4 chars</small>
    </div>

    <div class="mb-3">
      <label for="city" class="form-label"><i class="fas fa-city"></i>City</label>
      <input type="text" formControlName="city"
        [class.is-invalid]="loginform.controls['city'].invalid && loginform.controls['city'].dirty"
        [class.is-valid]="loginform.controls['city'].valid" class="form-control" name="" id=""
        aria-describedby="emailHelpId" placeholder="">
      <small id="emailHelpId" class="form-text text-muted">more than 4 chars</small>
    </div>

    <div class="mb-3">
      <label for="fullAddress" class="form-label"><i class="fas fa-map-marker-alt"></i>FullAddress</label>
      <input type="text" formControlName="fullAddress"
        [class.is-invalid]="loginform.controls['fullAddress'].invalid && loginform.controls['fullAddress'].dirty"
        [class.is-valid]="loginform.controls['fullAddress'].valid" class="form-control" name="" id=""
        aria-describedby="emailHelpId" placeholder="">
      <small id="emailHelpId" class="form-text text-muted">more than 10 chars</small>
    </div>

    <div class="mb-3">
      <label for="pass" class="form-label"><i class="bi bi-patch-check-fill"></i>Password:</label>
      <input type="password"
        [class.is-invalid]="loginform.controls['password'].invalid && loginform.controls['password'].dirty"
        [class.is-valid]="loginform.controls['password'].valid" formControlName="password" class="form-control" name=""
        id="" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">
        more than 4 chars at least one capital,small letter,degit,non alphabtic</small>
    </div>

    <br>
    <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary"
      style="text-align: center; margin-left: 200px;">Submit</button><br><br>
  </form>
  <br>
  <div style="color: red;">{{validationMsg}}</div>
  <br>
</div>