
<br>
<form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="col-md-6" style="margin: auto;"> 

    <div class="mb-3">
        <label for="name" class="form-label">FirstName</label>
        <input type="text"  formControlName="firstName"  
        [class.is-invalid]="loginform.controls['firstName'].invalid && loginform.controls['firstName'].dirty"
        [class.is-valid]="loginform.controls['firstName'].valid" class="form-control" 
        name="" id="name" aria-describedby="emailHelpId" placeholder="">
        <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">uniqe and more than 4 chars</small>
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">LastName</label>
        <input type="text"  formControlName="lastName"  
        [class.is-invalid]="loginform.controls['lastName'].invalid && loginform.controls['lastName'].dirty"
        [class.is-valid]="loginform.controls['lastName'].valid" class="form-control" 
        name="" id="name" aria-describedby="emailHelpId" placeholder="">
        <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">more than 4 chars</small>
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">UserName</label>
        <input type="text" formControlName="userName"  
        [class.is-invalid]="loginform.controls['userName'].invalid && loginform.controls['userName'].dirty"
        [class.is-valid]="loginform.controls['userName'].valid" class="form-control" 
        name="" id="name" aria-describedby="emailHelpId" placeholder="">
        <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">more than 4 chars</small>
      </div>

    <div class="mb-3">
      <label for="email"  class="form-label">Email</label>
      <input type="email"  formControlName="email" 
       [class.is-invalid]="loginform.controls['email'].invalid && loginform.controls['email'].dirty"
       [class.is-valid]="loginform.controls['email'].valid" class="form-control" 
       name="" id="" aria-describedby="emailHelpId" placeholder="">
      <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">uniqe:not used before</small>
    </div>
 
    <div class="mb-3">
      <label for="pass"  class="form-label">Password</label>
      <input type="password"  [class.is-invalid]="loginform.controls['password'].invalid && loginform.controls['password'].dirty" 
      [class.is-valid]="loginform.controls['password'].valid" formControlName="password"
       class="form-control" name="" id="" placeholder="">
       <small [hidden]="isUserLogged" id="emailHelpId" class="form-text text-muted">
         more than 4 chars at least one capital,small letter,degit,non alphabtic</small>
    </div>

<br>
    <button type="submit"  [disabled]="loginform.invalid" class="btn btn-primary">Submit</button>
</form>
<br>
<div style="color: red;">{{validationMsg}}</div>
<br>