
video {
  object-fit: cover; // Set the magic
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Add some content at the bottom of the video/page */
.hero-content {
  height: 50vh;
  position: relative;
  overflow: hidden;
  margin-top: 215px;
text-align: center;
  @media(min-width: 600px) {
    height: 100vh;
  }

}
h2,h3,#myBtn
{
  @media (max-width: 400px) {
    font-size: 20px;
   
  }
 
}
.h2andh3{
color: rgb(192, 184, 184);
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  height: 60px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;

}

#myBtn:hover {
  background: #ddd;
  color: black;
}