<form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="col-md-6" style="margin: auto;">

  <div class="mb-3">
    <label for="name"  class="form-label">UserName</label>
    <input type="text"  formControlName="userName"
      [class.is-invalid]="loginform.controls['userName'].invalid"
      [class.is-valid]="loginform.controls['userName'].valid" class="form-control" name="" id="name"
      aria-describedby="emailHelpId" placeholder="">
  </div>


  <div class="mb-3">
    <label for="pass"  class="form-label">Password</label>
    <input type="password"  [class.is-invalid]="loginform.controls['password'].invalid"
      [class.is-valid]="loginform.controls['password'].valid" formControlName="password" class="form-control" name=""
      id="" placeholder="">
  </div>

  <div style="color: red;">{{validationMsg}}</div>

  <!-- <div style="color: red;" [hidden]="isValidMsgHidden">invalid username or password</div> -->

  <div><button type="submit" [disabled]="loginform.invalid" class="btn btn-primary">Submit</button></div>
</form>

<p>{{loginform.value|json}}</p>