<div class="contain ">

  <br>
  <form [formGroup]="loginform" (ngSubmit)="onSubmit()" class="col-md-6"
    style="margin: auto;max-width: 500px; border: 1px solid rgb(108, 143, 247);  ">
    <h3 class="text text-info text-align-center" style="text-align: center;">I-Tech</h3>

    <div class="mb-3">
      <label for="name" class="form-label"><i class="bi bi-person-workspace"></i>UserName:</label>
      <input type="text" formControlName="userName"
        [class.is-invalid]="loginform.controls['userName'].invalid && loginform.controls['userName'].dirty"
        [class.is-valid]="loginform.controls['userName'].valid" class="form-control" name="" id="name"
        aria-describedby="emailHelpId" placeholder="">
    </div>


    <div class="mb-3">
      <label for="pass" class="form-label"><i class="bi bi-patch-check-fill"></i>Password:</label>
      <input type="password"
        [class.is-invalid]="loginform.controls['password'].invalid && loginform.controls['password'].dirty"
        [class.is-valid]="loginform.controls['password'].valid" formControlName="password" class="form-control" name=""
        id="" placeholder="">
    </div>

    <br>
      <div class="contain text-center">

        <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary btn-default"
        >Submit</button>
      </div><br>
  </form>
  <a routerLink='User/Register' routerLinkActive="active">Create account</a>
  <br>
  <div style="color: red;">{{validationMsg}}</div>
  <br>
</div>