<h1 class="mt-5 text-primary">Our Team</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col">
      <div class="card">
        <img src="https://www.w3schools.com/w3images/team1.jpg" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title">Jane Doe</h5>
          <h6 class="card-title text-muted">CEO & Founder</h6>
          <p class="card-text">Some text that describes me lorem ipsum ipsum lorem</p>
          <p>jane@example.com</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="https://www.w3schools.com/w3images/team2.jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Jane Doe</h5>
            <h6 class="card-title text-muted">CEO & Founder</h6>
            <p class="card-text">Some text that describes me lorem ipsum ipsum lorem</p>
            <p>jane@example.com</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://www.w3schools.com/w3images/team3.jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <h6 class="card-title text-muted">Designer</h6>
            <p class="card-text">Some text that describes me lorem ipsum ipsum lorem</p>
            <p>jane@example.com</p>
          </div>
        </div>
      </div>

  </div>