  
  <!-- ##### Header Area Start ##### -->
  <header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between ">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav" style="margin: 0;padding: 0;">
            <!-- Logo -->
            <a class="nav-brand" routerLink="/home" routerLinkActive="active"><i class="bi bi-house-fill"></i>I-TECH</a>
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a class="cat"><i class="bi bi-diagram-2-fill"></i>Categories</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4 " *ngFor="let item of catList">
                                    <li class="title"><a [routerLink]="['/products/category',item.categoryId]"  routerLinkActive="active">{{item.categoryName}}     
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="cat"><i class="bi bi-diagram-3-fill"></i>SubCategories</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4" *ngFor="let sub of SubcatList">
                                    <li class="title"><a [routerLink]="['/products/subcat',sub.subCategoryId]" routerLinkActive="active">{{sub.subCatName}}</a>
                                    </li>
                                </ul>  
                            </div>
                        </li>

                        <li><a href="#">{{userName}}<img *ngIf="!userName" src="assets/img/core-img/user.svg" width="25" height="25" class="rounded-circle">
                            <img *ngIf="userName" src="https://bootdey.com/img/Content/avatar/avatar7.png" width="25" height="25" class="rounded-circle"></a>
                            
                            <ul class="dropdown">
                                <li *ngIf="!userName"><a routerLink="/User/Login"  routerLinkActive="active" ><i class="bi bi-box-arrow-in-right"></i>Sign in</a> </li>
                            <li *ngIf="!userName"><a routerLink="/Register"  routerLinkActive="active" ><i class="bi bi-dash-circle-fill"></i>Register</a> </li>
                            <li *ngIf="userName"><a routerLink="/User/Profile"  routerLinkActive="active" ><i class="fa fa-eye"></i>View Profile</a> </li>
                            <li *ngIf="userName"><a routerLink="/User/editProfile"  routerLinkActive="active" ><i class="bi bi-pencil"></i>Edit Profile</a> </li>

                            <li *ngIf="userName"><button type="botton" class="btn btn-light" (click)="signout()"><i class="fa fa-power-off"></i>Sign out</button> </li>
                            </ul>
                        </li>

                       
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>
        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                    <input type="search" formControlName="searchInput"  id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- Favourite Area -->
            <div class="favourite-area">
                <a  routerLink="/watch"  routerLinkActive="active" ><img src="assets/img/core-img/heart.svg" alt=""><span>{{watchProdCount}}</span></a>
            </div>

            <!-- Cart Area -->
            <div class="cart-area">
                <a  id="essenceCartBtn" routerLink="/cart"  routerLinkActive="active"><img src="assets/img/core-img/bag.svg" alt=""> <span>{{cartProdCount}}</span></a>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->