<div class="card mt-4">
    <img class="card-img-top img-fluid" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
    <div class="card-body">
        <h3 class="card-title">Product Name {{ProductId}}</h3>
        <h4>$24.25</h4>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aspernatur laudantium laborum, earum cupiditate dolorum rem expedita reiciendis eum, aut animi vero maxime, harum amet obcaecati dolorem? Aut, voluptate corporis?</p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733;</span>
        4.0 stars
    </div>
</div>
<!--card -->
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Product Reviews
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facere veritatis atque voluptate et illum, assumenda fugit accusantium error quisquam repudiandae natus provident nobis at cum earum autem excepturi expedita?</p>
         <small class="text-muted">Post By  ananymous on 3/1/2017</small>
         <hr>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facere veritatis atque voluptate et illum, assumenda fugit accusantium error quisquam repudiandae natus provident nobis at cum earum autem excepturi expedita?</p>
         <small class="text-muted">Post By  ananymous on 3/1/2017</small>
         <hr>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo facere veritatis atque voluptate et illum, assumenda fugit accusantium error quisquam repudiandae natus provident nobis at cum earum autem excepturi expedita?</p>
         <small class="text-muted">Post By  ananymous on 3/1/2017</small>
         <hr>
         <a href="#" class="btn btn-success">Leave a Rewiew</a>
    </div>
</div>

