<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <p class="text-secondary mb-1">{{user.firstname}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="bi bi-people-fill"></i>Full Name:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.firstname + user.firstname}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="bi bi-person-fill"></i>UserName:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.username}} 
                    </div>
                  </div>
                  <hr>
                  
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="bi bi-envelope-fill"></i>Email:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fas fa-globe-americas"></i>Country:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.country}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fas fa-city"></i>City:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.city}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fas fa-map-marker-alt"></i>Full Address:</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.fullAddress}} 
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              <button class="btn btn-primary" id="btnOrder"><a id="textOrder" routerLink='/User/Orders' routerLinkActive="active">Your Orders</a>  </button>
            </div>
        </div>
    </div>
</div>

